In [31]:
import pandas             as pd
import numpy              as np
import matplotlib.pyplot  as plt
from plyer import notification 
from datetime import datetime

In [32]:
def alerta(nivel, base, etapa, erro=""):
    now = str(datetime.now())
    msg = f"Falha no carregamento da base {base} na etapa {etapa}.\n{now}\n{erro}"

    if nivel == 1:
        title = 'ATENÇÃO: Alerta Baixo'
    elif nivel == 2:
        title = 'ATENÇÃO: Alerta Médio'
    elif nivel == 3:
        title = 'ATENÇÃO: Alerta Alto'
    else:
        print("Nível", nivel, "não disponível!")
        return

    # Enviar notificação
    notification.notify(
        title=title,
        message=msg,
        app_name='alerta',
        timeout=10
    )

In [33]:
def carregar_dados_csv(caminho):
    try:
        # Tentativa de carregar o CSV
        df = pd.read_csv(caminho)
        print("Arquivo carregado com sucesso!")
        return df
    except FileNotFoundError as e:
        alerta(3, caminho, "Carregamento", "Arquivo não encontrado.")
    except pd.errors.ParserError as e:
        alerta(2, caminho, "Carregamento", "Erro de parsing (formato incorreto).")
    except UnicodeDecodeError as e:
        alerta(1, caminho, "Carregamento", "Erro de codificação (verificar a codificação do arquivo).")
    except Exception as e:
        alerta(3, caminho, "Carregamento", f"Erro inesperado: {str(e)}")
    return None

caminho = 'dados_enem_2021_BA.csv'
df = carregar_dados_csv(caminho)

Arquivo carregado com sucesso!

In [34]:
def simular_erros():
    # Simulação do erro de arquivo não encontrado
    print("Simulando erro: Arquivo não encontrado...")
    carregar_dados_csv('arquivo_inexistente.csv')
    
    # Simulação de erro de formato incorreto (arquivo não CSV ou com formato inválido)
    print("\nSimulando erro: Formato incorreto...")
    carregar_dados_csv('dados_enem_2021_BA.xlsx')  # Suponha que esse arquivo não seja CSV
    
simular_erros()

Simulando erro: Arquivo não encontrado...

(notify-send:23256): libnotify-WARNING **: 16:51:41.780: Running in confined mode, using Portal notifications. Some features and hints won't be supported

Simulando erro: Formato incorreto...

(notify-send:23268): libnotify-WARNING **: 16:51:43.090: Running in confined mode, using Portal notifications. Some features and hints won't be supported

In [35]:
df.head(5)

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO
0,210051128744,2021,4,F,1,3,1,2,0,2,...,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,80.0,120.0,80.0,80.0,20.0,380.0
1,210054173438,2021,5,F,1,2,1,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,210052118573,2021,3,F,1,3,1,2,0,2,...,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,80.0,120.0,80.0,100.0,80.0,460.0
3,210052350230,2021,10,F,1,2,1,1,8,1,...,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,120.0,100.0,120.0,120.0,580.0
4,210053156861,2021,9,M,1,2,1,1,5,1,...,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,100.0,120.0,100.0,120.0,100.0,540.0

In [36]:
df.info

<bound method DataFrame.info of         NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
0       210051128744    2021                4       F                1
1       210054173438    2021                5       F                1
2       210052118573    2021                3       F                1
3       210052350230    2021               10       F                1
4       210053156861    2021                9       M                1
...              ...     ...              ...     ...              ...
266189  210051432069    2021               12       M                1
266190  210051106175    2021               14       M                2
266191  210051995005    2021               11       M                0
266192  210053234415    2021               12       M                2
266193  210054027870    2021                5       F                1

        TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
0                 3                 1                2                0
1                 2                 1                2                0
2                 3                 1                2                0
3                 2                 1                1                8
4                 2                 1                1                5
...             ...               ...              ...              ...
266189            3                 1                1                0
266190            2                 1                1                0
266191            2                 1                1               12
266192            2                 1                1               15
266193            2                 1                1                2

        TP_ESCOLA  ...                                 TX_GABARITO_CH  \
0               2  ...  BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA
1               2  ...                                            NaN
2               2  ...  EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB
3               1  ...  BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC
4               1  ...  BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC
...           ...  ...                                            ...
266189          1  ...                                            NaN
266190          1  ...                                            NaN
266191          1  ...                                            NaN
266192          1  ...                                            NaN
266193          1  ...                                            NaN

                                           TX_GABARITO_LC  \
0       ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...
1                                                     NaN
2       ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...
3       ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...
4       ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...
...                                                   ...
266189                                                NaN
266190                                                NaN
266191                                                NaN
266192                                                NaN
266193                                                NaN

                                       TX_GABARITO_MT TP_STATUS_REDACAO  \
0       EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB               1.0
1                                                 NaN               NaN
2       DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE               1.0
3       ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA               1.0
4       ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA               1.0
...                                               ...               ...
266189                                            NaN               NaN
266190                                            NaN               NaN
266191                                            NaN               NaN
266192                                            NaN               NaN
266193                                            NaN               NaN

        NU_NOTA_COMP1 NU_NOTA_COMP2  NU_NOTA_COMP3  NU_NOTA_COMP4  \
0                80.0         120.0           80.0           80.0
1                 NaN           NaN            NaN            NaN
2                80.0         120.0           80.0          100.0
3               120.0         120.0          100.0          120.0
4               100.0         120.0          100.0          120.0
...               ...           ...            ...            ...
266189            NaN           NaN            NaN            NaN
266190            NaN           NaN            NaN            NaN
266191            NaN           NaN            NaN            NaN
266192            NaN           NaN            NaN            NaN
266193            NaN           NaN            NaN            NaN

        NU_NOTA_COMP5  NU_NOTA_REDACAO
0                20.0            380.0
1                 NaN              NaN
2                80.0            460.0
3               120.0            580.0
4               100.0            540.0
...               ...              ...
266189            NaN              NaN
266190            NaN              NaN
266191            NaN              NaN
266192            NaN              NaN
266193            NaN              NaN

[266194 rows x 51 columns]>

In [37]:
df.shape

(266194, 51)

In [38]:
df.columns

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
       'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO'],
      dtype='object')

In [39]:
dados_ausentes = df.isna().sum()
dados_ausentes

NU_INSCRICAO                   0
NU_ANO                         0
TP_FAIXA_ETARIA                0
TP_SEXO                        0
TP_ESTADO_CIVIL                0
TP_COR_RACA                    0
TP_NACIONALIDADE               0
TP_ST_CONCLUSAO                0
TP_ANO_CONCLUIU                0
TP_ESCOLA                      0
TP_ENSINO                 181806
IN_TREINEIRO                   0
CO_MUNICIPIO_ESC          218374
NO_MUNICIPIO_ESC          218374
CO_UF_ESC                 218374
SG_UF_ESC                 218374
TP_DEPENDENCIA_ADM_ESC    218374
TP_LOCALIZACAO_ESC        218374
TP_SIT_FUNC_ESC           218374
CO_MUNICIPIO_PROVA             0
NO_MUNICIPIO_PROVA             0
CO_UF_PROVA                    0
SG_UF_PROVA                    0
TP_PRESENCA_CN                 0
TP_PRESENCA_CH                 0
TP_PRESENCA_LC                 0
TP_PRESENCA_MT                 0
CO_PROVA_CN                90838
CO_PROVA_CH                81350
CO_PROVA_LC                81350
CO_PROVA_MT                90838
NU_NOTA_CN                 90838
NU_NOTA_CH                 81350
NU_NOTA_LC                 81350
NU_NOTA_MT                 90838
TX_RESPOSTAS_CN            90838
TX_RESPOSTAS_CH            81350
TX_RESPOSTAS_LC            81350
TX_RESPOSTAS_MT            90838
TP_LINGUA                      0
TX_GABARITO_CN             90838
TX_GABARITO_CH             81350
TX_GABARITO_LC             81350
TX_GABARITO_MT             90838
TP_STATUS_REDACAO          81350
NU_NOTA_COMP1              81350
NU_NOTA_COMP2              81350
NU_NOTA_COMP3              81350
NU_NOTA_COMP4              81350
NU_NOTA_COMP5              81350
NU_NOTA_REDACAO            81350
dtype: int64

In [40]:
import pandas as pd

def calcular_percentual_missing(df):
    # Calculando o percentual de valores ausentes
    percentual_missing = df.isna().sum() / len(df) * 100
    
    # Ordenando os resultados em ordem decrescente
    percentual_missing = percentual_missing.sort_values(ascending=False)
    
    return percentual_missing

In [41]:
calcular_percentual_missing(df)

TP_DEPENDENCIA_ADM_ESC    82.035658
CO_UF_ESC                 82.035658
TP_SIT_FUNC_ESC           82.035658
TP_LOCALIZACAO_ESC        82.035658
SG_UF_ESC                 82.035658
CO_MUNICIPIO_ESC          82.035658
NO_MUNICIPIO_ESC          82.035658
TP_ENSINO                 68.298309
CO_PROVA_MT               34.124736
CO_PROVA_CN               34.124736
NU_NOTA_MT                34.124736
TX_RESPOSTAS_CN           34.124736
TX_RESPOSTAS_MT           34.124736
TX_GABARITO_CN            34.124736
NU_NOTA_CN                34.124736
TX_GABARITO_MT            34.124736
TX_GABARITO_CH            30.560418
NU_NOTA_COMP2             30.560418
NU_NOTA_COMP5             30.560418
CO_PROVA_LC               30.560418
CO_PROVA_CH               30.560418
NU_NOTA_COMP4             30.560418
NU_NOTA_LC                30.560418
NU_NOTA_COMP3             30.560418
TX_RESPOSTAS_CH           30.560418
NU_NOTA_CH                30.560418
TX_RESPOSTAS_LC           30.560418
NU_NOTA_COMP1             30.560418
TP_STATUS_REDACAO         30.560418
TX_GABARITO_LC            30.560418
NU_NOTA_REDACAO           30.560418
TP_LINGUA                  0.000000
NU_INSCRICAO               0.000000
TP_PRESENCA_MT             0.000000
NU_ANO                     0.000000
TP_FAIXA_ETARIA            0.000000
TP_SEXO                    0.000000
TP_ESTADO_CIVIL            0.000000
TP_COR_RACA                0.000000
TP_NACIONALIDADE           0.000000
TP_ST_CONCLUSAO            0.000000
TP_ANO_CONCLUIU            0.000000
TP_ESCOLA                  0.000000
IN_TREINEIRO               0.000000
CO_MUNICIPIO_PROVA         0.000000
NO_MUNICIPIO_PROVA         0.000000
CO_UF_PROVA                0.000000
SG_UF_PROVA                0.000000
TP_PRESENCA_CN             0.000000
TP_PRESENCA_CH             0.000000
TP_PRESENCA_LC             0.000000
dtype: float64

In [42]:
df.index

RangeIndex(start=0, stop=266194, step=1)

In [43]:
df.nunique().sort_values(ascending=True)

NU_ANO                         1
SG_UF_PROVA                    1
CO_UF_PROVA                    1
TP_LINGUA                      2
TP_SEXO                        2
TP_LOCALIZACAO_ESC             2
IN_TREINEIRO                   2
TP_ENSINO                      2
TP_PRESENCA_MT                 3
TP_PRESENCA_CH                 3
TP_PRESENCA_CN                 3
TP_PRESENCA_LC                 3
TP_ESCOLA                      3
TP_SIT_FUNC_ESC                4
TP_ST_CONCLUSAO                4
TP_DEPENDENCIA_ADM_ESC         4
TP_NACIONALIDADE               5
TP_ESTADO_CIVIL                5
TP_COR_RACA                    6
TX_GABARITO_CN                 8
TX_GABARITO_CH                 8
TX_GABARITO_MT                 8
TP_STATUS_REDACAO              8
NU_NOTA_COMP2                 10
TX_GABARITO_LC                10
NU_NOTA_COMP4                 11
NU_NOTA_COMP3                 11
NU_NOTA_COMP1                 11
NU_NOTA_COMP5                 11
TP_ANO_CONCLUIU               16
CO_PROVA_CH                   18
CO_PROVA_LC                   18
CO_PROVA_MT                   18
CO_PROVA_CN                   18
TP_FAIXA_ETARIA               20
CO_UF_ESC                     23
SG_UF_ESC                     23
NU_NOTA_REDACAO               50
NO_MUNICIPIO_PROVA           162
CO_MUNICIPIO_PROVA           162
NO_MUNICIPIO_ESC             588
CO_MUNICIPIO_ESC             590
NU_NOTA_LC                  4183
NU_NOTA_CN                  4185
NU_NOTA_CH                  4512
NU_NOTA_MT                  5371
TX_RESPOSTAS_MT           175270
TX_RESPOSTAS_CN           175290
TX_RESPOSTAS_CH           184475
TX_RESPOSTAS_LC           184718
NU_INSCRICAO              266194
dtype: int64

In [44]:
type(df)

pandas.core.frame.DataFrame

In [45]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
NU_INSCRICAO,266194.0,2.100527e+11,981957.687860,2.100510e+11,2.100519e+11,2.100527e+11,2.100536e+11,2.100545e+11
NU_ANO,266194.0,2.021000e+03,0.000000,2.021000e+03,2.021000e+03,2.021000e+03,2.021000e+03,2.021000e+03
TP_FAIXA_ETARIA,266194.0,5.710166e+00,3.878161,1.000000e+00,3.000000e+00,4.000000e+00,8.000000e+00,2.000000e+01
TP_ESTADO_CIVIL,266194.0,1.048991e+00,0.411030,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00
TP_COR_RACA,266194.0,2.301832e+00,0.907761,0.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,5.000000e+00
TP_NACIONALIDADE,266194.0,1.029787e+00,0.194507,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00
TP_ST_CONCLUSAO,266194.0,1.595810e+00,0.719902,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00
TP_ANO_CONCLUIU,266194.0,2.846845e+00,4.468500,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00,1.500000e+01
TP_ESCOLA,266194.0,1.379663e+00,0.570947,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00
TP_ENSINO,84388.0,1.013272e+00,0.114438,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
IN_TREINEIRO,266194.0,1.226587e-01,0.328046,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
CO_MUNICIPIO_ESC,47820.0,2.921430e+06,77089.022929,1.100122e+06,2.910800e+06,2.922003e+06,2.927408e+06,5.300108e+06
CO_UF_ESC,47820.0,2.901662e+01,0.764082,1.100000e+01,2.900000e+01,2.900000e+01,2.900000e+01,5.300000e+01
TP_DEPENDENCIA_ADM_ESC,47820.0,2.411731e+00,0.926189,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,4.000000e+00
TP_LOCALIZACAO_ESC,47820.0,1.043580e+00,0.204161,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
TP_SIT_FUNC_ESC,47820.0,1.037286e+00,0.298561,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00
CO_MUNICIPIO_PROVA,266194.0,2.919423e+06,9521.537357,2.900702e+06,2.910800e+06,2.919553e+06,2.927408e+06,2.933604e+06
CO_UF_PROVA,266194.0,2.900000e+01,0.000000,2.900000e+01,2.900000e+01,2.900000e+01,2.900000e+01,2.900000e+01
TP_PRESENCA_CN,266194.0,6.594664e-01,0.474642,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
TP_PRESENCA_CH,266194.0,6.966498e-01,0.462151,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
TP_PRESENCA_LC,266194.0,6.966498e-01,0.462151,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
TP_PRESENCA_MT,266194.0,6.594664e-01,0.474642,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
CO_PROVA_CN,175356.0,9.163912e+02,27.250799,9.090000e+02,9.100000e+02,9.110000e+02,9.120000e+02,1.048000e+03
CO_PROVA_CH,184844.0,8.869030e+02,28.573475,8.790000e+02,8.800000e+02,8.810000e+02,8.820000e+02,1.018000e+03
CO_PROVA_LC,184844.0,8.968647e+02,28.422958,8.890000e+02,8.900000e+02,8.910000e+02,8.920000e+02,1.028000e+03
CO_PROVA_MT,175356.0,9.064295e+02,27.385340,8.990000e+02,9.000000e+02,9.010000e+02,9.020000e+02,1.038000e+03
NU_NOTA_CN,175356.0,4.799396e+02,75.043774,0.000000e+00,4.243000e+02,4.704000e+02,5.276000e+02,8.390000e+02
NU_NOTA_CH,184844.0,5.062345e+02,94.101182,0.000000e+00,4.315000e+02,5.028000e+02,5.754000e+02,8.469000e+02
NU_NOTA_LC,184844.0,4.891311e+02,77.829960,0.000000e+00,4.323000e+02,4.902000e+02,5.447000e+02,8.216000e+02
NU_NOTA_MT,175356.0,5.135080e+02,101.187047,0.000000e+00,4.337000e+02,4.915000e+02,5.794000e+02,9.531000e+02
TP_LINGUA,266194.0,4.814158e-01,0.499655,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
TP_STATUS_REDACAO,184844.0,1.128892e+00,0.769342,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.000000e+00
NU_NOTA_COMP1,184844.0,1.163537e+02,32.975823,0.000000e+00,1.000000e+02,1.200000e+02,1.400000e+02,2.000000e+02
NU_NOTA_COMP2,184844.0,1.374400e+02,44.661524,0.000000e+00,1.200000e+02,1.200000e+02,1.800000e+02,2.000000e+02
NU_NOTA_COMP3,184844.0,1.141837e+02,35.119702,0.000000e+00,1.000000e+02,1.200000e+02,1.200000e+02,2.000000e+02
NU_NOTA_COMP4,184844.0,1.267852e+02,37.470281,0.000000e+00,1.200000e+02,1.200000e+02,1.400000e+02,2.000000e+02
NU_NOTA_COMP5,184844.0,1.115144e+02,58.994407,0.000000e+00,8.000000e+01,1.200000e+02,1.600000e+02,2.000000e+02
NU_NOTA_REDACAO,184844.0,6.062770e+02,184.233494,0.000000e+00,5.200000e+02,6.000000e+02,7.200000e+02,1.000000e+03

In [46]:
def encontrar_dataframe_matematica(df):
    # Filtrar as colunas desejadas
    df_matematica = df[['TP_FAIXA_ETARIA', 'TP_SEXO', 'CO_PROVA_MT']]
    
    # Remover linhas com valores NaN
    df_matematica_limpa = df_matematica.dropna()
    
    return df_matematica_limpa

In [47]:
encontrar_dataframe_matematica(df)

        TP_FAIXA_ETARIA TP_SEXO  CO_PROVA_MT
0                     4       F        899.0
2                     3       F        901.0
3                    10       F        902.0
4                     9       M       1010.0
5                     3       M        900.0
...                 ...     ...          ...
266164               13       F       1037.0
266168               11       M       1035.0
266174               11       F       1037.0
266184               11       F       1035.0
266188                5       F       1035.0

[175356 rows x 3 columns]

In [48]:
df_matematica_limpa = encontrar_dataframe_matematica(df)

In [49]:
df_matematica_limpa.shape

(175356, 3)

In [50]:
df_matematica_limpa.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
TP_FAIXA_ETARIA,175356.0,4.884019,3.573822,1.0,2.0,4.0,6.0,20.0
CO_PROVA_MT,175356.0,906.429475,27.385340,899.0,900.0,901.0,902.0,1038.0

In [51]:
df_matematica_limpa.TP_SEXO.value_counts()

TP_SEXO
F    113157
M     62199
Name: count, dtype: int64